<div class="navbar">
    <div calss = "icondiv ">
            <img class="logoicon"  src="./assets/bookshelf.png"> 
        
             <h1 class=" child library">Library </h1>
             <h1 class="child">App </h1> 
       
        
    </div >
    
    <div class="nav-container">
    <ul>
        <li routerLinkActive = "active" class = "dashboard">
                <a routerLink = "/dashboard">
                <img class="icon1"  src="./assets/dashboard.png"> 
            <h3>
                <span>Dashboard</span>
            </h3>
        </a>
        </li>
    </ul>
     <h3>Books</h3>
    <ul>
        <li routerLinkActive = "active">
            <a routerLink="/all-books">
            <img class="icon"  src="./assets/allbooks.png"> 
            <span>All books</span>
        </a>
    </li>
        <li routerLinkActive = "active">
            <a routerLink = "/books-on-lend">
                <img class="icon"  src="./assets/books on lend.png"> 
                <span>Books on lend</span>
            </a></li>
        <li routerLinkActive = "active">
            <a>
                <img class="icon"  src="./assets/not-found.png"> 
                <span>Missen books</span>
            </a></li>
    </ul>
    <h3>Users</h3>
    <ul>
        <li routerLinkActive = "active">
            <a routerLink = "/ourusers">
                <img class="icon"  src="./assets/user.png"> 
                <span>Our User</span>
            </a>
        </li>
        <li routerLinkActive = "active">
            <a routerLink = "/redzone">
                <img class="icon"  src="./assets/no-profile.png"> 
                 <span>Red zone</span>
            </a>
            </li>
        
    </ul>
 </div>
</div>
